services:
  postgres:
    image: postgres:latest
    container_name: ib-lab1-postgres
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: test
    ports:
      - "15432:5432"
